body {
    width: 100%;
    margin: 0%;
    padding: 0%;
    overflow-x: hidden;
    font-family: 'Droid Arabic Kufi', sans-serif;
    background-color: white;
  }

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 15vh;
    background-image: linear-gradient(
        to bottom,
        rgba(255, 255, 255, 0) 70%,
        white 100%
    ),
    url("background2@2x.png");

}

.header_left_logo {
    padding: 1rem 9rem;
}

.header_right_logo {
    padding: 1rem 7rem;
}
/* ================main=============== */
.main-contant{
    width: 100%;
    /* padding:  0px 150px 0px 150px; */
}

.innerHeader{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.innerContent{
    height: auto;
    display: flex;
    direction: row;
    justify-content: space-around;
    padding: 0px 250px;
    margin: 20px;
}
.leftContent{
    height: auto;
    border-right: 3px solid #000000;
}
.leftContent .text{
    margin-right: 20px;
}
.content{
    direction: rtl;
    font-size: 10px;
    height: auto;
}

.condition {
    display: flex;
    flex-direction: column;
    padding: 30px 80px;
    gap: 5px;

  }
  
  .clause {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0px 80px ;
  }
  
  .clause .Arabic,
  .clause .English {
    width: auto;
    font-size: 10pt;
    line-height: 1.8;
    gap: 2px;
  }
  
  .clause .Arabic {
    text-align: right;
    direction: rtl;
  }
  
  .clause .English {
    text-align: left;
    direction: ltr;
  }
.signature{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    direction: rtl;
}
.Arabic-signature{
    direction: rtr;
}
.English-signature{
    direction: ltr;
}